body {
    background-color:white;
}
.redButton {
    background-color: #F65454;
    padding: 10px 30px;
    margin-bottom: 5px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    letter-spacing: 0.3px;
}
h3 {
    color: #F65454;
    font-size: 26pt;
    text-decoration: underline;
}

/* Section des entreprises */

/* TODO: responsive de la section */

.sectionBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.boxPro {
    padding: 20px;
    width: 45vh;
    height: 700px;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 8px 8px 12px #aaa;
    text-align: center;
    border-radius: 60px;
    margin: 10px 0;
    justify-content: space-between;
    background-color: #dfe4ea;
    transition: all 1s;
}
.boxPro:hover{
    box-shadow: 15px 15px 22px #F65454;
    transform: scale(1.05);
}


.sousTitre {
    text-align: center;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
}
.logoEntr {
    width: 150px;
    height: 150px;
    border: solid black;
    background-color: white;
    box-shadow: 3px 3px 7px;
}
.titreSec {
    background-color: #F65454;
    color: white;
    justify-content: center;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    border: solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 12px grey;
}
h4 {
    padding : 0px;
    margin-bottom: -10%;
    font-size: 20px;
    color: #F65454;
    font-family: 'Heebo', sans-serif;
}

/* Footer */

hr {
    height: 3px;
    background: #5C5959;
    margin-top: 30px; 
}

footer
{
    background-color: #F65454;
}

#low{
  list-style:none;
}

li {
  display: inline-block;
  font-size: 22px;
  margin-left: 120px;
  padding: 12px;
  text-align: center;
}

#navigat a
{
    text-decoration: none;
    color: #FFFFFF;
}


#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
  margin-bottom: 10px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
}
hr{
  margin-top: 50px;
  margin-bottom: 50px;
}
@media all and (max-width: 961px)  {
    li{   
        text-align: center;
        margin-left: 10px;
        display: block;
        border-radius: 10px;
        padding-bottom: 15px;
    }
    .sectionBox {
        flex-direction: column;
        align-items: center;
    }
    h3 {
        text-align: center;
    }
    footer ul li{
      text-align: center;
      margin-left: -40px;
    }
   .carousel{
      width: auto;
    }
  .description{
    text-align: center;
    }
    .sectionBox{
        display: inline-block;
        margin-left: 70px;
    }
  .boxPro{
    margin-bottom: 30px;
    }
    .sectionBox {
        flex-direction: column;
        align-items: center;
    }
    h3 {
        text-align: center;
    }

    .boxPro:hover{
        box-shadow: none;
        transform: none;
    }
}