
/*========== General ==========*/
  
  header {
    font-family: Arial, sans-serif;
    background-color: #F65454;
    display: flex;
    width: 100%;
    position: sticky;
  }
  
  .headerTitle {
    display: inline-block;
    margin-left: 5%;
    font-size: 1.9em;
    font-weight: bold;
    color: white;
  }
  
  .headerN {
    margin-left: 55px;
    margin-top: 15px;
  }
  
  .section {
    display: inline-block;
    justify-content: space-between;
  }
  
  .section a {
    color: white;
    padding: 0px 30px;
  }
  
  .section a:hover {
    background-color: #e0e0e0;
  }
  
  h1 {
    font-family: Arial, sans-serifArial, sans-serif;
  }


/*========== carousel ==========*/

/*demarage du carousel*/
  .carousel {
      width: 100vw;
      height: 50%;
}

/*glissement image pour chaque image*/
ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

/*container slide permet de rester en affichage block*/
.slide-container { 
    display: block; 
}

/*propriete dune image quand elle slide 
(affichage, ça position, largeur en fonction du navigateur
avec temps de transition de limage*/
.slide-image {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .9s ease-in-out;
}   

/*placement des images en fonction de la largeur de lecran*/
.slide-image img {
    width: auto;
    min-width: 100vw;
    height: 100%;
}

/*permet lapparition des labels*/
.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

/*permet de placer les label (les fleches) en fonction du carousel container*/
.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}


/*permet de controler lopacite des label pour quelles soit visible*/
.carousel-controls label:hover {
    opacity: 1;
}

/*gere les labels en fonction de leur fonction next previous*/
.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

/*propriete appartenant au 3dot*/
.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

/*prend tous les dots en fonction dune dot
(placement, couleur de fond...*/
.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

/*temps de transition des images*/
input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 2s ease-in-out;
}

/*fleches droite gauche permet de les inserer dans le container lors du slide*/
input:checked + .slide-container .carousel-controls label {
     display: block; 
}

/*permet de verifier de surligner les dot lorsquelle sont checked (verifié)*/
input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}

body {
    background-color:white;
    margin: 0;
    overflow-x: hidden;
}

.redButton {
    background-color: #F65454;
    padding: 10px 30px;
    margin-bottom: 5px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    letter-spacing: 0.3px;
}
h3 {
    color: #F65454;
    font-size: 26pt;
    text-decoration: underline;
}

/* Section des entreprises */

/* TODO: responsive de la section */

.sectionBox {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
}
.boxPro {
    font-family: 'Noto Sans', sans-serif;
    padding: 20px;
    width: 45vh;
    height: 700px;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 8px 8px 12px #aaa;
    text-align: center;
    border-radius: 60px;
    margin: 10px 0;
    justify-content: space-between;
    background-color: #dfe4ea;
    transition: all 1s;
}
.boxPro:hover{
    box-shadow: 15px 15px 22px #F65454;
    transform: scale(1.05);
    background-color: white;
}


.sousTitre {
    text-align: center;
    font-size: 24px;
    font-family: 'Heebo', sans-serif;
    margin: 30px;
}
.logoEntr {
    width: 150px;
    height: 150px;
    border: solid black;
    background-color: white;
    box-shadow: 3px 3px 7px;
}
.titreSec {
    background-color: #F65454;
    color: white;
    justify-content: center;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    border: solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 12px grey;
    font-family: 'Rubik', sans-serif;
}
h4 {
    padding : 0px;
    margin-bottom: -10%;
    font-size: 20px;
    color: #F65454;
    font-family: 'Heebo', sans-serif;
}




/*           MENU HAMBURGER             */



.heebo{
  font-family: 'Heebo', sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top:2%;
  margin-bottom:2%;
}

.navlink
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.navLink:hover
{
	text-decoration:underline;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  position:absolute;
  width: 50px;
  height: 33px;
  top: -7px;
  right:-10px;
  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  position: absolute;
  right:10%;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 0;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  overflow:hiden;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  right:-150px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  opacity: 0;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  opacity: 1;
  transform: none;
}



/*           Footer       */



hr {
  border: 1.5px black solid;
  margin-top: 50px;
  margin-bottom: 30px;
  box-shadow: 4px 4px 6px red; 
}

footer
{
  background-color: #F65454;
  box-shadow: 2px 2px 2px black; 
}

#low{
  list-style:none;
  margin-bottom: 50px;
}

footer ul {
  display: flex;
  font-size: 22px;
  justify-content: space-around;
  margin: 0;
  padding: 20px 0;
  color: white;
}

a{
  color: white;
  text-decoration: none;
}
footer nav ul a:hover{
  color: #CFC0BD;

}


footer p{
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  margin: 0;
  padding: 15px;
}

#contacts img {
  height: 50px;
  width: 50px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 15px;
}
#contacts a {
  text-decoration: none;
}
#contacts img:hover {
  opacity: 0.8;
}
#contacts {
  text-align: center;
}
hr{
  margin-top: 50px;
  margin-bottom: 50px;
}



/*         MEDIA QUERY         */ 




/*          TELEPHONE      */



@media screen and (max-width: 961px)  {
   footer ul{   
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer ul li {
      margin: 10px 0;
    }
    .sectionBox {
        flex-direction: column;
        justify-content: center;
    }
    h3 {
        text-align: center;
    }
   .carousel{
      width: auto;
    }

    .description{
      text-align: center;
    }
  .boxPro{
    margin-bottom: 30px;
    }
    .sectionBox {
        flex-direction: column;
        align-items: center;
    }
    .boxPro{
       margin-bottom: 30px;
       justify-items: center;
    }

    .boxPro:hover{
        box-shadow: none;
        transform: none;
    }
}

/*            TABLETTE         */



@media all and (max-width: 1405px)  {
  footer li{       
    margin-left: -50px;
    display: block;
  }
  .sectionBox {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
  }

h3 {
    text-align: center;
}
footer ul li{
  text-align: center;
  margin-left: -40px;
}
.carousel{
  width: auto;
}
.description{
text-align: center;
}
.boxPro{
   margin-bottom: 30px;
   justify-items: center;
}
h3 {
    text-align: center;
}

.boxPro:hover{
    box-shadow: none;
    transform: none;
}
}
