.redButton {
    background-color: #F65454;
    padding: 10px 30px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    letter-spacing: 0.3px;
}
h3 {
    color: #F65454;
}

/* Section des entreprises */

/* TODO: responsive de la section */

.sectionBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #394253;
}
.boxPro {
    padding: 15px;
    width: 45vh;
    height: 60vh;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 12px #aaa;
    text-align: center;
    border-radius: 60px;
}
.boxPro:hover{
    box-shadow: 15px 15px 22px red;
}
.logoEntr {
    width: 150px;
	height: 150px;
}
.titreSec {
    background-color: #F65454;
    color: #394253;
    justify-content: center;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Footer */

hr {
    height: 3px;
    background: #5C5959;
    margin-top: 30px; 
}

footer
{
    background-color: #F65454;
}

#low{
  list-style:none;
}

li {
  display: inline-block;
  font-size: 22px;
  margin-left: 120px;
  padding: 12px;
  text-align: center;
}

#navigat a
{
    text-decoration: none;
    color: #FFFFFF;
}


#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
  margin-bottom: 10px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
}

@media all and (max-width: 961px)  {
    li{   
        text-align: center;
        margin-left: 10px;
        display: block;
        border-radius: 10px;
        padding-bottom: 15px;
    }
    .sectionBox {
        flex-direction: column;
        align-items: center;
    }
    h3 {
        text-align: center;
    }
}